Repository CodeMentor-CodingSite/JavaServer-microservice, changes with the labels that .github/labeler.yml gives for each.
All labels: apigateway, evaluatie, execute, question, user, dependencies, cicd

feat: 난이도별 사용자가 해결한 문제 목록
  question/src/main/java/com/codementor/question/dto/external/UserSolvedQuestionIdAndTitleAndTimeResponse.java
Labels: question

feat: 사용자의 모든 문제 제출 이력
  execute/src/main/java/com/codementor/controller/ExecuteController.java
Labels: execute

feat: 사용자의 모든 문제 제출 이력
  execute/src/main/java/com/codementor/service/ExecuteService.java
Labels: execute

feat: 사용자의 모든 문제 제출 이력
  question/src/main/java/com/codementor/question/service/ExecutionHelperService.java
Labels: question

feat: 사용자의 모든 문제 제출 이력
  question/src/main/java/com/codementor/question/controller/ExternalApiController.java
Labels: question

feat: 사용자의 모든 문제 제출 이력
  execute/src/main/java/com/codementor/dto/response/UserSubmitHistoryResponse.java
Labels: execute

feat: 사용자의 모든 문제 제출 이력
  question/src/main/java/com/codementor/question/dto/external/UserSubmitHistoryResponse.java
Labels: question

feat: 특정 제출 내용 이력
  execute/src/main/java/com/codementor/controller/ExecuteController.java
Labels: execute

feat: 특정 제출 내용 이력
  execute/src/main/java/com/codementor/dto/ExecuteResultDto.java
Labels: execute

feat: 특정 제출 내용 이력
  execute/src/main/java/com/codementor/service/ExecuteService.java
Labels: execute

feat: 특정 제출 내용 이력
  execute/src/main/java/com/codementor/dto/ExecuteUsercodeDto.java
Labels: execute

feat: 특정 문제에 대한 유저의 모든 제출 이력
  execute/src/main/java/com/codementor/controller/ExecuteController.java
Labels: execute

feat: 특정 문제에 대한 유저의 모든 제출 이력
  execute/src/main/java/com/codementor/service/ExecuteService.java
Labels: execute

feat: 특정 문제에 대한 유저의 모든 제출 이력
  execute/src/main/java/com/codementor/repository/ExecuteUsercodeRepository.java
Labels: execute

feat: 특정 문제에 대한 유저의 모든 제출 이력
  execute/src/main/java/com/codementor/service/ExecuteService.java
Labels: execute

feat: plan 입력
  question/src/main/java/com/codementor/question/controller/PlanInputController.java
Labels: question

feat: plan 입력
  question/src/main/java/com/codementor/question/dto/request/PlanInputRequest.java
Labels: question

feat: plan 입력
  question/src/main/java/com/codementor/question/entity/PlanMap.java
Labels: question

feat: plan 입력
  question/src/main/java/com/codementor/question/service/PlanService.java
Labels: question

feat: 모든 Plan 조회
  question/src/main/java/com/codementor/question/entity/Plan.java
Labels: question

feat: 모든 Plan 조회
  question/src/main/java/com/codementor/question/controller/PlanController.java
Labels: question

feat: 모든 Plan 조회
  question/src/main/java/com/codementor/question/dto/PlanDto.java
Labels: question

feat: 모든 Plan 조회
  question/src/main/java/com/codementor/question/controller/PlanInputController.java
Labels: question

feat: 모든 Plan 조회
  question/src/main/java/com/codementor/question/service/PlanInputService.java
Labels: question

feat: 모든 Plan 조회
  question/src/main/java/com/codementor/question/dto/response/PlanResponse.java
Labels: question

feat: 모든 Plan 조회
  question/src/main/java/com/codementor/question/service/PlanService.java
Labels: question

feat: 모든 Plan 조회
  question/src/main/java/com/codementor/question/controller/QuestionController.java
Labels: question

feat: 모든 Plan 조회
  question/src/main/java/com/codementor/question/service/QuestionService.java
Labels: question

fix
  execute/src/main/java/com/codementor/service/ExecuteService.java
Labels: execute

fix
  execute/src/main/java/com/codementor/repository/ExecuteUsercodeRepository.java
Labels: execute

fix
  execute/src/main/java/com/codementor/dto/external/UserSolvedQuestionIdList.java
Labels: execute

feat: 사용자가 Plan 구독 및 구독해제
  user/src/main/java/com/codementor/user/controller/PlanController.java
Labels: user

feat: 사용자가 Plan 구독 및 구독해제
  user/src/main/java/com/codementor/user/service/PlanService.java
Labels: user

feat: 사용자가 Plan 구독 및 구독해제
  user/src/main/java/com/codementor/user/entity/UserPlan.java
Labels: user

feat: 사용자가 Plan 구독 및 구독해제
  user/src/main/java/com/codementor/user/repository/UserPlanRepository.java
Labels: user

feat: 사용자가 구독하고 있는 Plan 목록
  user/src/main/java/com/codementor/user/core/exception/CodeMentorException.java
Labels: user

feat: 사용자가 구독하고 있는 Plan 목록
  user/src/main/java/com/codementor/user/dto/dto/ErrorDto.java
Labels: user

feat: 사용자가 구독하고 있는 Plan 목록
  user/src/main/java/com/codementor/user/core/exception/ErrorEnum.java
Labels: user

feat: 사용자가 구독하고 있는 Plan 목록
  question/src/main/java/com/codementor/question/service/ExecutionHelperService.java
Labels: question

feat: 사용자가 구독하고 있는 Plan 목록
  question/src/main/java/com/codementor/question/controller/ExternalApiController.java
Labels: question

.github/labeler.yml:

apigateway:
- changed-files:
  - any-glob-to-any-file: ['apigateway/**/*']

evaluatie:
- changed-files:
  - any-glob-to-any-file: ['evaluatie/**/*']

execute:
- changed-files:
  - any-glob-to-any-file: ['execute/**/*']

question:
- changed-files:
  - any-glob-to-any-file: ['question/**/*']

user:
- changed-files:
  - any-glob-to-any-file: ['user/**/*']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['build.gradle', 'apigateway/build.gradle', 'evaluate/build.gradle', 'execute/build.gradle', 'question/build.gradle', 'user/build.gradle']

cicd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'Docker*']
