Repository CodeMentor-CodingSite/JavaServer-microservice, changes with the labels that .github/labeler.yml gives for each.
All labels: apigateway, evaluatie, execute, question, user, dependencies, cicd

refactor: question서버 refactor
  question/src/main/java/com/codementor/question/core/exception/CodeMentorException.java
Labels: question

refactor: question서버 refactor
  question/src/main/java/com/codementor/question/core/dto/ErrorDto.java
Labels: question

refactor: question서버 refactor
  question/src/main/java/com/codementor/question/core/exception/ErrorEnum.java
Labels: question

refactor: question서버 refactor
  question/src/main/java/com/codementor/question/service/ExecutionHelperService.java
Labels: question

refactor: question서버 refactor
  question/src/main/java/com/codementor/question/dto/request/QuestionCodeInputRequest.java
Labels: question

refactor: question서버 refactor
  question/src/main/java/com/codementor/question/controller/QuestionController.java
Labels: question

refactor: question서버 refactor
  question/src/main/java/com/codementor/question/dto/external/QuestionDifficultyCounts.java
Labels: question

refactor: question서버 refactor
  question/src/main/java/com/codementor/question/controller/QuestionInputController.java
Labels: question

refactor: question서버 refactor
  question/src/main/java/com/codementor/question/service/QuestionInputService.java
Labels: question

refactor: question서버 refactor
  question/src/main/java/com/codementor/question/service/QuestionService.java
Labels: question

refactor: question서버 refactor
  question/src/main/java/com/codementor/question/core/util/RequestToServer.java
Labels: question

refactor: question서버 refactor
  question/src/main/java/com/codementor/question/core/dto/ResponseDto.java
Labels: question

refactor: question서버 refactor
  question/src/main/java/com/codementor/question/dto/TestCaseDetailDTO.java
Labels: question

refactor: question서버 refactor
  question/src/main/java/com/codementor/question/dto/external/UserSolvedRatioTotalDto.java
Labels: question

refactor: ResponseDto 수정
  question/src/main/java/com/codementor/question/controller/QuestionInputController.java
Labels: question

refactor: 이미 존재하는 초기 코드에 대한 에러 처리
  execute/src/main/java/com/codementor/core/exception/ErrorEnum.java
  question/src/main/java/com/codementor/question/core/exception/ErrorEnum.java
  question/src/main/java/com/codementor/question/service/QuestionInputService.java
Labels: execute, question

Feat: JWT 필터 헤더 필터링 쿠키받도록 구현
  apigateway/src/main/java/com/codementor/apigateway/config/AuthorizationUserFilter.java
  apigateway/src/main/java/com/codementor/apigateway/config/GatewayConfig.java
  apigateway/src/main/java/com/codementor/apigateway/config/JwtUtil.java
  apigateway/src/main/java/com/codementor/apigateway/exception/TokenErrorEnum.java
Labels: apigateway

Feat: 토큰재발급시 토큰 쿠키로 보내도록 구현
  user/src/main/java/com/codementor/user/controller/UserController.java
Labels: user

Feat: 로그인시 토큰 쿠키로 보내도록 구현
  user/src/main/java/com/codementor/user/config/JwtProvider.java
  user/src/main/java/com/codementor/user/controller/UserController.java
  user/src/main/java/com/codementor/user/dto/TokenDTO.java
  user/src/main/java/com/codementor/user/dto/UserCreateDTO.java
  user/src/main/java/com/codementor/user/entity/User.java
  user/src/main/java/com/codementor/user/service/UserService.java
Labels: user

feat: api 제대로 작동 안하는 애들 수정
  execute/src/main/java/com/codementor/controller/ExecuteController.java
Labels: execute

feat: api 제대로 작동 안하는 애들 수정
  execute/src/main/java/com/codementor/entity/ExecuteUsercode.java
Labels: execute

feat: api 제대로 작동 안하는 애들 수정
  execute/src/main/java/com/codementor/controller/ExternalExecuteController.java
Labels: execute

feat: api 제대로 작동 안하는 애들 수정
  question/src/main/java/com/codementor/question/entity/Question.java
Labels: question

feat: api 제대로 작동 안하는 애들 수정
  question/src/main/java/com/codementor/question/controller/QuestionController.java
Labels: question

feat: api 제대로 작동 안하는 애들 수정
  execute/src/main/java/com/codementor/service/QuestionHelperService.java
Labels: execute

feat: api 제대로 작동 안하는 애들 수정
  question/src/main/java/com/codementor/question/controller/QuestionInputController.java
Labels: question

feat: api 제대로 작동 안하는 애들 수정
  question/src/main/java/com/codementor/question/service/QuestionInputService.java
Labels: question

feat: api 제대로 작동 안하는 애들 수정
  question/src/main/java/com/codementor/question/service/QuestionService.java
Labels: question

feat: api 제대로 작동 안하는 애들 수정
  execute/src/main/java/com/codementor/service/UserCodeExecutionRequestProducer.java
Labels: execute

Feat: 로그아웃 쿠키로 토큰 받게 수정
  user/src/main/java/com/codementor/user/controller/UserController.java
Labels: user

Feat: 회원가입 요청값 수정
  user/src/main/java/com/codementor/user/dto/UserCreateDTO.java
Labels: user

lets go
  evaluate/build.gradle
  evaluate/src/main/java/com/codementor/evaluate/service/EvaluationService.java
  evaluate/src/main/java/com/codementor/evaluate/service/UserCodeExecuteRequestConsumer.java
  execute/src/main/java/com/codementor/service/UserCodeExecutionRequestProducer.java
Labels: execute, dependencies

Feat: 회원정보 수정 API 구현
  apigateway/src/main/java/com/codementor/apigateway/config/JwtUtil.java
  user/src/main/java/com/codementor/user/controller/UserController.java
  user/src/main/java/com/codementor/user/dto/UserUpdateDTO.java
  user/src/main/java/com/codementor/user/entity/User.java
  user/src/main/java/com/codementor/user/service/UserService.java
Labels: apigateway, user

Fix: 회원정보 수정 수정
  user/src/main/java/com/codementor/user/service/UserService.java
Labels: user

Fix: 리프레시 토큰 오탈자 수정
  apigateway/src/main/java/com/codementor/apigateway/config/AuthorizationAdminFilter.java
  user/src/main/java/com/codementor/user/dto/TokenDTO.java
Labels: apigateway, user

works now
  docker-compose.yml
  execute/src/main/java/com/codementor/core/exception/CodeMentorException.java
  execute/src/main/java/com/codementor/kafkaTest/Consumer.java
  execute/src/main/java/com/codementor/kafkaTest/Producer.java
  question/src/main/java/com/codementor/question/core/exception/CodeMentorException.java
Labels: execute, question

Gpt의 답변 parsing 오류
  evaluate/src/main/java/com/codementor/evaluate/service/ChatService.java
Labels: none

카프카 테스트 목적
  execute/src/main/java/com/codementor/kafkaTest/Consumer.java
Labels: execute

카프카의 레플리카 1개로 줄임
  docker-compose.yml
Labels: none

toString 메서드 수정
  evaluate/src/main/java/com/codementor/evaluate/dto/EvalQuestionTestCaseDetailAndConverterDto.java
Labels: none

.github/labeler.yml:

apigateway:
- changed-files:
  - any-glob-to-any-file: ['apigateway/**/*']

evaluatie:
- changed-files:
  - any-glob-to-any-file: ['evaluatie/**/*']

execute:
- changed-files:
  - any-glob-to-any-file: ['execute/**/*']

question:
- changed-files:
  - any-glob-to-any-file: ['question/**/*']

user:
- changed-files:
  - any-glob-to-any-file: ['user/**/*']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['build.gradle', 'apigateway/build.gradle', 'evaluate/build.gradle', 'execute/build.gradle', 'question/build.gradle', 'user/build.gradle']

cicd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'Docker*']
