Repository CodeMentor-CodingSite/JavaServer-microservice, changes with the labels that .github/labeler.yml gives for each.
All labels: apigateway, evaluatie, execute, question, user, dependencies, cicd

.github/labeler.yml:

apigateway:
- changed-files:
  - any-glob-to-any-file: ['apigateway/**/*']

evaluatie:
- changed-files:
  - any-glob-to-any-file: ['evaluatie/**/*']

execute:
- changed-files:
  - any-glob-to-any-file: ['execute/**/*']

question:
- changed-files:
  - any-glob-to-any-file: ['question/**/*']

user:
- changed-files:
  - any-glob-to-any-file: ['user/**/*']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['build.gradle', 'apigateway/build.gradle', 'evaluate/build.gradle', 'execute/build.gradle', 'question/build.gradle', 'user/build.gradle']

cicd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'Docker*']

toString 메서드 수정
  evaluate/src/main/java/com/codementor/evaluate/dto/EvalQuestionTestCaseDto.java
Labels: none

toString 메서드 수정
  execute/src/main/java/com/codementor/dto/evaluation/EvalQuestionTestCaseDto.java
  execute/src/main/java/com/codementor/dto/evaluation/EvalTestCaseDto.java
Labels: execute

toString 메서드 수정
  execute/src/main/java/com/codementor/dto/evaluation/EvalTestCaseDetailAndConverterDto.java
Labels: execute

toString 메서드 수정
  evaluate/src/main/java/com/codementor/evaluate/dto/EvaluationDto.java
Labels: none

toString 메서드 수정
  execute/src/main/java/com/codementor/dto/evaluation/EvaluationDto.java
Labels: execute

파이썬 명령 스크립트 수정 및 코드 실행 서버 연결 해제(해결되야함)
  evaluate/src/main/java/com/codementor/evaluate/service/EvaluationService.java
Labels: none

이름 수정
  execute/src/main/java/com/codementor/entity/ExecuteUsercode.java
Labels: execute

userId 헤더 설정 및, 테스트용 userId 입력
  execute/src/main/java/com/codementor/controller/ExecuteUsercodeController.java
Labels: execute

파이썬 명령어 수정
  question/src/main/java/com/codementor/question/service/ExecutionHelperService.java
Labels: question

에러 메세지 출력
  execute/src/main/java/com/codementor/kafkaTest/Producer.java
Labels: execute

toString 출력
  execute/src/main/java/com/codementor/core/util/ReceiveFromKafka.java
Labels: execute

toString 출력
  evaluate/src/main/java/com/codementor/evaluate/service/UserCodeExecuteResponseProducer.java
Labels: none

저장 및 이름 수정
  execute/src/main/java/com/codementor/service/UserCodeExecutionResponseConsumer.java
Labels: execute

실행 시간 측정
  evaluate/src/main/java/com/codementor/evaluate/service/UserCodeExecuteRequestConsumer.java
Labels: none

Feat: UserUsedLanguagesDto, UserUsedLanguagesDtoList DTO 생성
  execute/src/main/java/com/codementor/dto/UserUsedLanguagesDto.java
  execute/src/main/java/com/codementor/dto/UserUsedLanguagesDtoList.java
Labels: execute

Feat: 사용자가 해결한 문제 언어 목록 API 구현
  execute/src/main/java/com/codementor/controller/ExecuteController.java
  execute/src/main/java/com/codementor/service/ExecuteService.java
Labels: execute

feat: category count by user correct question ids
  question/src/main/java/com/codementor/question/controller/ExternalApiController.java
Labels: question

feat: category count by user correct question ids
  execute/src/main/java/com/codementor/controller/ExternalExecuteController.java
Labels: execute

feat: category count by user correct question ids
  question/src/main/java/com/codementor/question/dto/response/QuestionCountByTagDto.java
Labels: question

feat: category count by user correct question ids
  execute/src/main/java/com/codementor/service/QuestionHelperService.java
Labels: execute

feat: category count by user correct question ids
  question/src/main/java/com/codementor/question/controller/UserInfoController.java
Labels: question

feat: category count by user correct question ids
  question/src/main/java/com/codementor/question/service/UserInfoService.java
Labels: question

fix: connect to ssh
  evaluate/src/main/java/com/codementor/evaluate/service/EvaluationService.java
Labels: none

fix: connect to ssh
  evaluate/src/main/java/com/codementor/evaluate/service/EvaluationService.java
Labels: none

fix: usercode result
  evaluate/src/main/java/com/codementor/evaluate/service/EvaluationService.java
  evaluate/src/main/java/com/codementor/evaluate/service/UserCodeExecuteRequestConsumer.java
  execute/src/main/java/com/codementor/entity/ExecuteUsercode.java
Labels: execute

deploy: Add spring boot msa manifests for k8s deployment
  manifests/springboot/apigateway/deployment.yaml
  manifests/springboot/apigateway/service.yaml
  manifests/springboot/evaluation/deployment.yaml
  manifests/springboot/evaluation/service.yaml
  manifests/springboot/execute/deployment.yaml
  manifests/springboot/execute/service.yaml
  manifests/springboot/question/deployment.yaml
  manifests/springboot/question/service.yaml
  manifests/springboot/user/deployment.yaml
  manifests/springboot/user/service.yaml
Labels: none

deploy: Add mysql, redis manifests
  manifests/mysql/storageclass.yaml
  manifests/mysql/user/secret.yaml
  manifests/mysql/user/service.yaml
  manifests/mysql/user/statefulset.yaml
  manifests/mysql/usercode/secret.yaml
  manifests/mysql/usercode/service.yaml
  manifests/mysql/usercode/statefulset.yaml
  manifests/redis/redis.yaml
Labels: none

deploy: Add execute server manifest
  manifests/execute-server/Dockerfile
  manifests/execute-server/deployment.yaml
  manifests/execute-server/service.yaml
Labels: none

Feat: 토글 좋아요 API 구현
  user/src/main/java/com/codementor/user/controller/UserController.java
  user/src/main/java/com/codementor/user/repository/UserLikeRepository.java
  user/src/main/java/com/codementor/user/service/UserService.java
Labels: user

Feat: 유저 커스텀 예외 추가
  user/src/main/java/com/codementor/user/exception/UserErrorEnum.java
Labels: user

Feat: api 게이트웨이 설정 수정
  apigateway/src/main/java/com/codementor/apigateway/config/GatewayConfig.java
Labels: apigateway

feat #81: java user code execute
  evaluate/src/main/java/com/codementor/evaluate/service/EvaluationService.java
Labels: none

feat: 난이도별 사용자가 해결한 문제 목록
  execute/src/main/java/com/codementor/controller/ExecuteController.java
Labels: execute

feat: 난이도별 사용자가 해결한 문제 목록
  execute/src/main/java/com/codementor/service/ExecuteService.java
Labels: execute

feat: 난이도별 사용자가 해결한 문제 목록
  execute/src/main/java/com/codementor/entity/ExecuteUsercode.java
Labels: execute

feat: 난이도별 사용자가 해결한 문제 목록
  execute/src/main/java/com/codementor/repository/ExecuteUsercodeRepository.java
Labels: execute

feat: 난이도별 사용자가 해결한 문제 목록
  question/src/main/java/com/codementor/question/service/ExecutionHelperService.java
Labels: question

feat: 난이도별 사용자가 해결한 문제 목록
  question/src/main/java/com/codementor/question/controller/ExternalApiController.java
Labels: question

feat: 난이도별 사용자가 해결한 문제 목록
  question/src/main/java/com/codementor/question/repository/QuestionRepository.java
Labels: question

feat: 난이도별 사용자가 해결한 문제 목록
  execute/src/main/java/com/codementor/dto/response/UserSolvedQuestionIdAndTitleAndTimeResponse.java
Labels: execute
