Repository CodeMentor-CodingSite/JavaServer-microservice, pull requests merged in 2024-01, with the labels that each got.

#10 Evaluation 서버의 gpt, codeExecution 관련 기능들 생성
  apigateway/build.gradle
  apigateway/src/main/java/com/codementor/apigateway/service/GenericSender.java
  execute/build.gradle
  execute/src/main/java/com/codementor/evaluate/config/KafkaConsumerConfig.java
  execute/src/main/java/com/codementor/evaluate/config/KafkaProducerConfig.java
  execute/src/main/java/com/codementor/evaluate/dto/EvaluationDto.java
  execute/src/main/java/com/codementor/evaluate/dto/request/ChatGptRequestDTO.java
  execute/src/main/java/com/codementor/evaluate/dto/request/CodeExecutionConverterDto.java
  execute/src/main/java/com/codementor/evaluate/dto/request/QuestionTestCaseDetailsDto.java
  execute/src/main/java/com/codementor/evaluate/dto/request/QuestionTestCaseDto.java
  execute/src/main/java/com/codementor/evaluate/dto/response/ChatGptResponseDTO.java
  execute/src/main/java/com/codementor/evaluate/python_execution_code_example.py
  execute/src/main/java/com/codementor/evaluate/service/ChatService.java
  execute/src/main/java/com/codementor/evaluate/service/EvaluationService.java
  execute/src/main/java/com/codementor/evaluate/service/ExecuteRequestConsumer.java
  execute/src/main/java/com/codementor/evaluate/service/ExecuteResponseProducer.java
  execute/src/main/java/com/codementor/execute/config/KafkaProducerConfig.java
  execute/src/main/java/com/codementor/execute/controller/GptController.java
  execute/src/main/java/com/codementor/execute/controller/TestController.java
  execute/src/main/java/com/codementor/execute/dto/ExecuteResultDTO.java
  execute/src/main/java/com/codementor/execute/dto/MessageDTO.java
  execute/src/main/java/com/codementor/execute/dto/ResponseDTO.java
  execute/src/main/java/com/codementor/execute/kafkaTest/Consumer.java
  execute/src/main/java/com/codementor/execute/kafkaTest/Controller.java
  execute/src/main/java/com/codementor/execute/kafkaTest/MessageDTO.java
  execute/src/main/java/com/codementor/execute/kafkaTest/Producer.java
  execute/src/main/java/com/codementor/execute/service/GenericSender.java
  execute/src/main/resources/application.properties
  question/src/main/java/com/codementor/question/service/GenericSender.java
  user/build.gradle
  user/src/main/java/com/codementor/user/service/GenericSender.java
  user/src/main/resources/application.properties
Labels: For: API, Priority: High, Status: Completed, Type: Feature

#14 #13 Execution, Evaluation, Question 서버 로직 수정
  execute/src/main/java/com/codementor/evaluate/dto/EvalQuestionTestCaseDetailAndConverterDto.java
  execute/src/main/java/com/codementor/evaluate/dto/EvalQuestionTestCaseDto.java
  execute/src/main/java/com/codementor/evaluate/dto/EvaluationDto.java
  execute/src/main/java/com/codementor/evaluate/dto/EvaluationQuestionDto.java
  execute/src/main/java/com/codementor/evaluate/service/ChatService.java
  execute/src/main/java/com/codementor/evaluate/service/EvaluationService.java
  execute/src/main/java/com/codementor/evaluate/service/UserCodeExecuteRequestConsumer.java
  execute/src/main/java/com/codementor/evaluate/service/UserCodeExecuteResponseProducer.java
  execute/src/main/java/com/codementor/execute/controller/ExecuteController.java
  execute/src/main/java/com/codementor/execute/controller/TestGptController.java
  execute/src/main/java/com/codementor/execute/dto/ExecuteResultDTO.java
  execute/src/main/java/com/codementor/execute/dto/evaluation/EvalQuestionRequest.java
  execute/src/main/java/com/codementor/execute/dto/evaluation/EvalQuestionTestCaseDetailAndConverterDto.java
  execute/src/main/java/com/codementor/execute/dto/evaluation/EvalQuestionTestCaseDto.java
  execute/src/main/java/com/codementor/execute/dto/evaluation/EvaluationDto.java
  execute/src/main/java/com/codementor/execute/dto/request/UserCodeExecutionRequest.java
  execute/src/main/java/com/codementor/execute/service/UserCodeExecutionRequestProducer.java
  execute/src/main/java/com/codementor/execute/service/UserCodeExecutionResponseConsumer.java
  question/src/main/java/com/codementor/question/controller/ExternalApiController.java
Labels: For: API, Priority: Medium, Status: Completed, Type: Logic

#16 #15 execution서버 kafka consumer 설정, evaluation dto 수정
  execute/src/main/java/com/codementor/execute/config/KafkaConsumerConfig.java
  question/src/main/java/com/codementor/question/dto/evaluation/EvaluationDto.java
Labels: For: Fix, Priority: Low, Status: Completed, Type: Refactor

#21 [#20] 코드 제출 로직 수정
  execute/build.gradle
  execute/src/main/java/com/codementor/evaluate/dto/EvaluationDto.java
  execute/src/main/java/com/codementor/evaluate/service/UserCodeExecuteRequestConsumer.java
  execute/src/main/java/com/codementor/execute/controller/ExecuteController.java
  execute/src/main/java/com/codementor/execute/controller/TestGptController.java
  execute/src/main/java/com/codementor/execute/dto/evaluation/EvalTestCaseDetailAndConverterDto.java
  execute/src/main/java/com/codementor/execute/dto/evaluation/EvalTestCaseDto.java
  execute/src/main/java/com/codementor/execute/dto/evaluation/EvaluationDto.java
  execute/src/main/java/com/codementor/execute/entity/ExecuteResult.java
  execute/src/main/java/com/codementor/execute/entity/ExecuteUsercode.java
  execute/src/main/java/com/codementor/execute/repository/ExecuteResultRepository.java
  execute/src/main/java/com/codementor/execute/repository/ExecuteUsercodeRepository.java
  execute/src/main/java/com/codementor/execute/service/SseConnectionService.java
  execute/src/main/java/com/codementor/execute/service/UserCodeExecutionRequestProducer.java
  execute/src/main/java/com/codementor/execute/service/UserCodeExecutionResponseConsumer.java
  question/src/main/java/com/codementor/question/controller/ExternalApiController.java
  question/src/main/java/com/codementor/question/dto/evaluation/EvalQuestionRequest.java
  question/src/main/java/com/codementor/question/dto/evaluation/EvalTestCaseDto.java
  question/src/main/java/com/codementor/question/dto/evaluation/EvaluationDto.java
  question/src/main/java/com/codementor/question/service/ExecutionHelperService.java
Labels: For: Fix, Priority: Low, Status: Completed, Type: Logic

#26 [#24] 회원 정보 조회 API 구현
  apigateway/src/main/java/com/codementor/apigateway/config/AuthorizationUserFilter.java
  apigateway/src/main/java/com/codementor/apigateway/config/GatewayConfig.java
  apigateway/src/main/java/com/codementor/apigateway/config/JwtUtil.java
  user/src/main/java/com/codementor/user/controller/UserController.java
  user/src/main/java/com/codementor/user/dto/UserProfileDTO.java
  user/src/main/java/com/codementor/user/entity/User.java
  user/src/main/java/com/codementor/user/exception/UserErrorEnum.java
  user/src/main/java/com/codementor/user/service/UserService.java
Labels: For: API, Priority: Medium, Status: Completed, Type: Feature

#28 회원 해결한 문제 비율 및 문제 총 비율
  execute/src/main/java/com/codementor/execute/controller/ExecuteController.java
  execute/src/main/java/com/codementor/execute/controller/ExecuteUsercodeController.java
  execute/src/main/java/com/codementor/execute/dto/UserSolvedRatioSubmitDto.java
  execute/src/main/java/com/codementor/execute/dto/UserSolvedRatioTotalDto.java
  execute/src/main/java/com/codementor/execute/dto/external/QuestionDifficultyCounts.java
  execute/src/main/java/com/codementor/execute/repository/ExecuteUsercodeRepository.java
  execute/src/main/java/com/codementor/execute/service/ExecuteService.java
  execute/src/main/java/com/codementor/execute/service/UserCodeExecutionRequestProducer.java
  question/src/main/java/com/codementor/question/controller/ExternalApiController.java
  question/src/main/java/com/codementor/question/dto/external/EvalQuestionRequest.java
  question/src/main/java/com/codementor/question/dto/external/EvalTestCaseDetailAndConverterDto.java
  question/src/main/java/com/codementor/question/dto/external/EvalTestCaseDto.java
  question/src/main/java/com/codementor/question/dto/external/EvaluationDto.java
  question/src/main/java/com/codementor/question/dto/external/QuestionDifficultyCounts.java
  question/src/main/java/com/codementor/question/dto/external/UserSolvedRatioTotalDto.java
  question/src/main/java/com/codementor/question/service/ExecutionHelperService.java
Labels: For: API, Priority: Medium, Status: Completed, Type: Feature

#32 Auth 수정
  apigateway/src/main/java/com/codementor/apigateway/config/AuthorizationUserFilter.java
  apigateway/src/main/java/com/codementor/apigateway/config/JwtErrorHandler.java
  apigateway/src/main/java/com/codementor/apigateway/config/JwtUtil.java
  apigateway/src/main/java/com/codementor/apigateway/exception/TokenErrorEnum.java
  user/src/main/java/com/codementor/user/config/JwtProvider.java
  user/src/main/java/com/codementor/user/controller/UserController.java
  user/src/main/java/com/codementor/user/exception/UserErrorEnum.java
  user/src/main/java/com/codementor/user/service/UserService.java
Labels: For: API, Priority: High, Status: Completed, Type: Feature

#34 리다이렉트 Http 상태 코드 308 -> 301로 수정
  apigateway/src/main/java/com/codementor/apigateway/config/AuthorizationUserFilter.java
Labels: For: Fix, Priority: Critical, Status: Completed, Type: Logic

#30 유저가 풀었던 문제 정보 불러오기 (카테고리, 난이도 포함)
  execute/src/main/java/com/codementor/execute/controller/ExecuteController.java
  execute/src/main/java/com/codementor/execute/dto/UserSolvedCategoryDto.java
  execute/src/main/java/com/codementor/execute/dto/UserSolvedCategoryDtoList.java
  execute/src/main/java/com/codementor/execute/dto/external/UserSolvedQuestionIdList.java
  execute/src/main/java/com/codementor/execute/service/ExecuteService.java
  question/src/main/java/com/codementor/question/controller/ExternalApiController.java
  question/src/main/java/com/codementor/question/dto/external/UserSolvedCategoryDto.java
  question/src/main/java/com/codementor/question/dto/external/UserSolvedCategoryDtoList.java
  question/src/main/java/com/codementor/question/dto/external/UserSolvedQuestionIdList.java
  question/src/main/java/com/codementor/question/service/ExecutionHelperService.java
Labels: For: API, Priority: Medium, Status: Completed, Type: Feature

#43 API Gateway JWT Filter 수정
  apigateway/src/main/java/com/codementor/apigateway/config/AuthorizationAdminFilter.java
  apigateway/src/main/java/com/codementor/apigateway/config/AuthorizationUserFilter.java
  apigateway/src/main/java/com/codementor/apigateway/config/JwtErrorHandler.java
  apigateway/src/main/java/com/codementor/apigateway/config/JwtUtil.java
  apigateway/src/main/java/com/codementor/apigateway/exception/TokenErrorEnum.java
Labels: For: Fix, Priority: High, Status: Completed, Type: Logic

#58 회원 탈퇴 API 구현
  user/src/main/java/com/codementor/user/controller/UserController.java
  user/src/main/java/com/codementor/user/dto/UserProfileDTO.java
  user/src/main/java/com/codementor/user/entity/User.java
  user/src/main/java/com/codementor/user/service/UserService.java
Labels: For: API, Priority: Low, Status: Completed, Type: Feature

#61 Fix: 탈퇴된 회원이 로그인 되는 버그 수정
  user/src/main/java/com/codementor/user/entity/User.java
Labels: For: Fix, Priority: Critical, Status: Completed, Type: Bug

#63 회원가입 API 수정
  user/src/main/java/com/codementor/user/controller/UserController.java
  user/src/main/java/com/codementor/user/dto/UserCreateDTO.java
  user/src/main/java/com/codementor/user/dto/UserDTO.java
  user/src/main/java/com/codementor/user/dto/UserLoginDTO.java
  user/src/main/java/com/codementor/user/dto/UserProfileDTO.java
  user/src/main/java/com/codementor/user/entity/User.java
  user/src/main/java/com/codementor/user/exception/UserErrorEnum.java
  user/src/main/java/com/codementor/user/repository/UserRepository.java
  user/src/main/java/com/codementor/user/service/UserService.java
Labels: For: Fix, Priority: High, Status: Completed, Type: Bug

#64 로그아웃 API 구현
  apigateway/build.gradle
  apigateway/src/main/java/com/codementor/apigateway/config/JwtUtil.java
  apigateway/src/main/java/com/codementor/apigateway/config/RedisConfig.java
  apigateway/src/main/java/com/codementor/apigateway/exception/TokenErrorEnum.java
  apigateway/src/main/java/com/codementor/apigateway/service/RedisService.java
  user/build.gradle
  user/src/main/java/com/codementor/user/config/JwtProvider.java
  user/src/main/java/com/codementor/user/config/RedisConfig.java
  user/src/main/java/com/codementor/user/controller/UserController.java
  user/src/main/java/com/codementor/user/exception/UserErrorEnum.java
  user/src/main/java/com/codementor/user/service/RedisService.java
  user/src/main/java/com/codementor/user/service/UserService.java
Labels: For: API, Priority: High, Status: Completed, Type: Feature

#66 기본 이미지 수정
  user/src/main/java/com/codementor/user/dto/UserProfileDTO.java
Labels: For: Fix, Priority: Low, Status: Completed, Type: Bug
