Repository CodeMentor-CodingSite/JavaServer-microservice, pull requests merged in 2024-02, with the labels that each got.

#68 [#67] Execute 서버의 코드 가독성 향상
  execute/src/main/java/com/codementor/controller/ExecuteController.java
  execute/src/main/java/com/codementor/controller/ExecuteUsercodeController.java
  execute/src/main/java/com/codementor/core/dto/ErrorDto.java
  execute/src/main/java/com/codementor/core/dto/ResponseDto.java
  execute/src/main/java/com/codementor/core/exception/CodeMentorException.java
  execute/src/main/java/com/codementor/core/exception/ErrorEnum.java
  execute/src/main/java/com/codementor/core/util/ReceiveFromKafka.java
  execute/src/main/java/com/codementor/core/util/RequestToServer.java
  execute/src/main/java/com/codementor/core/util/SendToKafka.java
  execute/src/main/java/com/codementor/dto/ResponseDTO.java
  execute/src/main/java/com/codementor/dto/UserSolvedRatioTotalDto.java
  execute/src/main/java/com/codementor/dto/evaluation/EvaluationDto.java
  execute/src/main/java/com/codementor/dto/external/UserQuestionsStatus.java
  execute/src/main/java/com/codementor/dto/external/UserSolvedQuestionIdList.java
  execute/src/main/java/com/codementor/entity/ExecuteUsercode.java
  execute/src/main/java/com/codementor/service/ExecuteService.java
  execute/src/main/java/com/codementor/service/QuestionHelperService.java
  execute/src/main/java/com/codementor/service/SseConnectionService.java
  execute/src/main/java/com/codementor/service/UserCodeExecutionRequestProducer.java
  execute/src/main/java/com/codementor/service/UserCodeExecutionResponseConsumer.java
  question/src/main/java/com/codementor/question/controller/QuestionController.java
  question/src/main/java/com/codementor/question/controller/QuestionInputController.java
  question/src/main/java/com/codementor/question/core/dto/ErrorDto.java
  question/src/main/java/com/codementor/question/core/dto/ResponseDto.java
  question/src/main/java/com/codementor/question/core/exception/CodeMentorException.java
  question/src/main/java/com/codementor/question/core/exception/ErrorEnum.java
  question/src/main/java/com/codementor/question/core/util/RequestToServer.java
  question/src/main/java/com/codementor/question/dto/TestCaseDetailDTO.java
  question/src/main/java/com/codementor/question/dto/external/QuestionDifficultyCounts.java
  question/src/main/java/com/codementor/question/dto/external/UserSolvedRatioTotalDto.java
  question/src/main/java/com/codementor/question/dto/request/QuestionCodeInputRequest.java
  question/src/main/java/com/codementor/question/service/ExecutionHelperService.java
  question/src/main/java/com/codementor/question/service/QuestionInputService.java
  question/src/main/java/com/codementor/question/service/QuestionService.java
Labels: For: Fix, Priority: Medium, Status: Completed, Type: Refactor

#70 토큰 쿠키로 구현
  apigateway/src/main/java/com/codementor/apigateway/config/AuthorizationUserFilter.java
  apigateway/src/main/java/com/codementor/apigateway/config/GatewayConfig.java
  apigateway/src/main/java/com/codementor/apigateway/config/JwtUtil.java
  apigateway/src/main/java/com/codementor/apigateway/exception/TokenErrorEnum.java
  user/src/main/java/com/codementor/user/config/JwtProvider.java
  user/src/main/java/com/codementor/user/controller/UserController.java
  user/src/main/java/com/codementor/user/dto/TokenDTO.java
  user/src/main/java/com/codementor/user/dto/UserCreateDTO.java
  user/src/main/java/com/codementor/user/entity/User.java
  user/src/main/java/com/codementor/user/service/UserService.java
Labels: For: API, Priority: Low, Status: Completed, Type: Feature, Type: Logic

#76 회원 정보 수정 API 구현
  apigateway/src/main/java/com/codementor/apigateway/config/JwtUtil.java
  user/src/main/java/com/codementor/user/controller/UserController.java
  user/src/main/java/com/codementor/user/dto/UserUpdateDTO.java
  user/src/main/java/com/codementor/user/entity/User.java
  user/src/main/java/com/codementor/user/service/UserService.java
Labels: For: API, Priority: Low, Status: Completed, Type: Feature

#78 회원정보 수정 수정
  user/src/main/java/com/codementor/user/service/UserService.java
Labels: For: Fix, Priority: High, Status: Completed, Type: Logic

#80 리프레시 토큰 오탈자 수정
  apigateway/src/main/java/com/codementor/apigateway/config/AuthorizationAdminFilter.java
  user/src/main/java/com/codementor/user/dto/TokenDTO.java
Labels: For: Fix, Priority: High, Status: Completed, Type: Bug

#98 [#86] Feat: 사용자가 해결한 문제들에 대한 카테고리 카운트
  execute/src/main/java/com/codementor/controller/ExternalExecuteController.java
  execute/src/main/java/com/codementor/service/QuestionHelperService.java
  question/src/main/java/com/codementor/question/controller/ExternalApiController.java
  question/src/main/java/com/codementor/question/controller/UserInfoController.java
  question/src/main/java/com/codementor/question/dto/response/QuestionCountByTagDto.java
  question/src/main/java/com/codementor/question/service/UserInfoService.java
Labels: For: API, Priority: Medium, Status: Completed, Type: Feature

#99 gke k8s manifests
  manifests/execute-server/Dockerfile
  manifests/execute-server/deployment.yaml
  manifests/execute-server/service.yaml
  manifests/mysql/storageclass.yaml
  manifests/mysql/user/secret.yaml
  manifests/mysql/user/service.yaml
  manifests/mysql/user/statefulset.yaml
  manifests/mysql/usercode/secret.yaml
  manifests/mysql/usercode/service.yaml
  manifests/mysql/usercode/statefulset.yaml
  manifests/redis/redis.yaml
  manifests/springboot/apigateway/deployment.yaml
  manifests/springboot/apigateway/service.yaml
  manifests/springboot/evaluation/deployment.yaml
  manifests/springboot/evaluation/service.yaml
  manifests/springboot/execute/deployment.yaml
  manifests/springboot/execute/service.yaml
  manifests/springboot/question/deployment.yaml
  manifests/springboot/question/service.yaml
  manifests/springboot/user/deployment.yaml
  manifests/springboot/user/service.yaml
Labels: For: CI/CD, Priority: Low, Status: Completed, Type: Maintenance

#100 좋아요 토글 API 구현
  apigateway/src/main/java/com/codementor/apigateway/config/GatewayConfig.java
  user/src/main/java/com/codementor/user/controller/UserController.java
  user/src/main/java/com/codementor/user/exception/UserErrorEnum.java
  user/src/main/java/com/codementor/user/repository/UserLikeRepository.java
  user/src/main/java/com/codementor/user/service/UserService.java
Labels: For: API, Priority: Low, Status: Completed, Type: Feature

#101 java user code execute
  evaluate/src/main/java/com/codementor/evaluate/service/EvaluationService.java
Labels: For: API, Priority: Medium, Status: Completed, Type: Feature

#102 [#87} 난이도별 사용자가 해결한 문제 목록
  execute/src/main/java/com/codementor/controller/ExecuteController.java
  execute/src/main/java/com/codementor/dto/response/UserSolvedQuestionIdAndTitleAndTimeResponse.java
  execute/src/main/java/com/codementor/entity/ExecuteUsercode.java
  execute/src/main/java/com/codementor/repository/ExecuteUsercodeRepository.java
  execute/src/main/java/com/codementor/service/ExecuteService.java
  question/src/main/java/com/codementor/question/controller/ExternalApiController.java
  question/src/main/java/com/codementor/question/dto/external/UserSolvedQuestionIdAndTitleAndTimeResponse.java
  question/src/main/java/com/codementor/question/repository/QuestionRepository.java
  question/src/main/java/com/codementor/question/service/ExecutionHelperService.java
Labels: For: API, Priority: High, Status: Completed, Type: Feature

#103 [#88] 사용자의 모든 문제 제출 이력
  execute/src/main/java/com/codementor/controller/ExecuteController.java
  execute/src/main/java/com/codementor/dto/response/UserSubmitHistoryResponse.java
  execute/src/main/java/com/codementor/service/ExecuteService.java
  question/src/main/java/com/codementor/question/controller/ExternalApiController.java
  question/src/main/java/com/codementor/question/dto/external/UserSubmitHistoryResponse.java
  question/src/main/java/com/codementor/question/service/ExecutionHelperService.java
Labels: For: API, Priority: Medium, Status: Completed, Type: Feature

#104 [#89] 특정 제출 내용 이력
  execute/src/main/java/com/codementor/controller/ExecuteController.java
  execute/src/main/java/com/codementor/dto/ExecuteResultDto.java
  execute/src/main/java/com/codementor/dto/ExecuteUsercodeDto.java
  execute/src/main/java/com/codementor/service/ExecuteService.java
Labels: For: API, Priority: Medium, Status: Completed, Type: Feature

#105 [#90] 특정 문제에 대한 유저의 모든 제출 이력
  execute/src/main/java/com/codementor/controller/ExecuteController.java
  execute/src/main/java/com/codementor/repository/ExecuteUsercodeRepository.java
  execute/src/main/java/com/codementor/service/ExecuteService.java
Labels: For: API, Priority: Medium, Status: Completed, Type: Feature

#106 [#91] Plan 생성 api
  question/src/main/java/com/codementor/question/controller/PlanInputController.java
  question/src/main/java/com/codementor/question/dto/request/PlanInputRequest.java
  question/src/main/java/com/codementor/question/entity/PlanMap.java
  question/src/main/java/com/codementor/question/service/PlanService.java
Labels: For: API, Priority: Low, Status: Completed, Type: Feature

#107 [#92] 모든 Plan 조회
  question/src/main/java/com/codementor/question/controller/PlanController.java
  question/src/main/java/com/codementor/question/controller/PlanInputController.java
  question/src/main/java/com/codementor/question/controller/QuestionController.java
  question/src/main/java/com/codementor/question/dto/PlanDto.java
  question/src/main/java/com/codementor/question/dto/response/PlanResponse.java
  question/src/main/java/com/codementor/question/entity/Plan.java
  question/src/main/java/com/codementor/question/service/PlanInputService.java
  question/src/main/java/com/codementor/question/service/PlanService.java
  question/src/main/java/com/codementor/question/service/QuestionService.java
Labels: For: API, Type: Feature

#108 [#93] 사용자가 Plan 구독 및 구독해제
  user/src/main/java/com/codementor/user/controller/PlanController.java
  user/src/main/java/com/codementor/user/entity/UserPlan.java
  user/src/main/java/com/codementor/user/repository/UserPlanRepository.java
  user/src/main/java/com/codementor/user/service/PlanService.java
Labels: For: API, Type: Feature

#115 [#113] 해당 문제 기록 모두 조회 API 구현
  apigateway/src/main/java/com/codementor/apigateway/config/GatewayConfig.java
  execute/src/main/java/com/codementor/controller/ExecuteController.java
  execute/src/main/java/com/codementor/dto/ExecuteAllUsercodeDto.java
  execute/src/main/java/com/codementor/repository/ExecuteUsercodeRepository.java
  execute/src/main/java/com/codementor/service/ExecuteService.java
Labels: For: API, Priority: Low, Status: Completed, Type: Feature
